<body style="text-align: center;">
    <h1>Football Facts and Quiz API</h1>
    <table>
        <tr>
            <td>Random Fact</td>
            <td><a href="/facts">Link</a></td>
        </tr>
        <tr>
            <td>Random Facts with quantity</td>
            <td><a href="/facts/num=10">Link</a></td>
        </tr>
        <tr>
            <td>Random Question and Answer</td>
            <td><a href="/quiz">Link</a></td>
        </tr>
        <tr>
            <td>Random Question and Answer with quantity</td>
            <td><a href="/quiz/num=10">Link</a></td>
        </tr>
    </table>
</body>